.projects-showcase {
    &__content-wrapper {
        
    }

    &__item {
        max-width: 592px;
        margin: 0 auto;
    }

    &__content {
        max-width: 460px;
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;

        p {
            width: 80%;
            margin: 0 auto;
        }
    }

    &__nav {
        width: 700px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate3d(-50%, -45%, 0);
        z-index: 15;

        img {
            cursor: pointer;
        }

        .prev {
            float: left;
        }

        .next {
            float: right;
        }
    }
}
    