.section-about {
    
    &__content-wrapper {
		max-width: 540px;
		margin: 0 auto;
		text-align: center;
    }

    &__title {
    	margin-bottom: 15px;
    }

    &__content {
    	font-size: $font-size-h3;
    }

    &__social-links {
		
		margin-top: 25px;

    	 a {
    	 	display: block;
    	 	width: 100%;
    	 	line-height: 1.3;
    	 	font-size: $font-size-h3;
    	 	text-decoration: underline;
    	 }
    }

}